$main_text_color: #fff;
$secondary_text_color: rgb(203, 172, 249);
$dark_text_color: rgb(189, 189, 189);

$main_background_color: rgb(0, 3, 25);
$secondary_background_color: rgb(1, 3, 28);

$main_border_color: rgb(39, 41, 53);

$border_radius: 15px;

$lg_text_large: 3.5rem;
$lg_text_medium: 1.3rem;
$lg_text_small: 0.9rem;

$md_text_large: 3rem;
$md_text_medium: 1.1rem;
$md_text_small: 0.7rem;

$sm_text_large: 2.3rem;
$sm_text_medium: 1rem;
$sm_text_small: 0.7rem;

$xs_text_large: 1.8rem;

$xl: 1500px;
$lg: 1200px;
$md: 900px;
$sm: 600px;
$xs: 400px;
